
.MainCounter {
    display: inline-block;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    width: 300px;
    background: #101010;
    color: white;
    font-size: 60px;
    margin: 4px;
    padding: 10px;
    font-weight: bold;
  }
  
  .Four, .Three, .Two, .One {
    margin: 0 5px;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }